* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    height: 100vh;
    color: whitesmoke;
}

body, input, button, textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
}

/*
em: baseia o tamanho no elemento pai
rem: baseia o tamanho na root, que é a tag <html>
*/
